{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-signin" method="POST" action="/signup">
    <h2 class="form-signin-heading">Sign Up</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.name) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </form>
  <div class="row justify-content-start form-signin">
      <h4 class="center">Already registered?</h4>
      <a href="/"><button class="btn btn-lg btn-primary btn-block"
          style="background-color:white; border-color:rgb(40, 96, 144); color:rgb(40, 96, 144)">Sign In</button></a>
  </div>

</div> <!-- /container -->
{% endblock %}